.header{
	background-color: #4286f4;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	min-height: 55px;
	height: 100%;
}
.leftSideBar{
	background-color: #000000;
	padding-left: 0px;
	height: 100%;

}
.col-md-3{
	padding-right: 0px;
}
.col-xs-3{
	
}
#admin{
	padding-right: 0px;
	padding-left: 0px;
}